@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #E4E9F7;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #095d40;
  z-index: 100;
  transition: all 0.5s ease;
}
hr {
  margin-top: 15px;
}

.sidebar.close {
  width: 78px;
}

.sidebar .profile-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 14px 0px 12px;
}

.sidebar .profile-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}


.sidebar .profile-details .profile-info .profile_name {
  font-size: 16px;
  color: #fff;
  width: 70%;
  padding-top: 10px;
  margin-top: 18px;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar .profile-details .profile-info .profile_email {
  font-size: 12px;
  color: #d3d3d3;
  width: 60%;
  margin-top: 2px;
  font-weight: 400;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .profile_email {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .profile-details .logout-img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 12px;
  background: #07432e;
  transition: all 0.5s ease;
}
/* 
.sidebar.close .profile-details img {
  padding: 10px;
} */

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.nav-links li a.active {
  background-color: #07432e; 
}
.sidebar .nav-links li:hover {
  background: #07432e;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #07432e;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .logout-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #07432e;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .logout-details {
  background: none;
}

.sidebar.close .logout-details {
  width: 78px;
}

.sidebar .logout-details .logout-content {
  display: flex;
  align-items: center;
}

.sidebar .logout-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #07432e;
  transition: all 0.5s ease;
}


.sidebar .logout-details .logout_name,
.sidebar .logout-details .log {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.details .contact-info {
  display: flex;
  gap: 5px;
  color: #737373;
  font-size: 12px;
}

.details .contact-info span {
  display: inline-block;
}
.contact-info .line {
  color: #095d40;
}
.sidebar .logout-details .log {
  font-size: 12px;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #095d40;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

.header {
  background-color: #fff;
  color: #333;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .school-name {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #737373;
}

.header .school-name img {
  height: 42px;
  margin-left: 10px;
}
/* CSS home form */
.form-container {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin-left: 60px; 
  margin-right: 60px;
  border-radius: 5px;
}

.form-section {
  width: 48%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.form-section h3 {
  margin-bottom: 10px;
  color: #095d40;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 30px; 
  margin-right: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 8px;
}
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 8px;
}
.image-preview {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.image-preview img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.btn-confirm {
  display: block;
  margin: 20px auto; /* Centers the button horizontally */
  padding: 10px 20px;
  background-color: #095d40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btn-confirm:hover {
  background-color: #073e2b; /* Slightly darker color on hover */
}

/* Basic modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: darkgray;
}

.proceed-btn {
  background-color: #074f34;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: #05613e;
}
.form-group-name {
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.form-group-name label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group-name input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 8px;
}

.form-group-name select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 8px;
}

.name-inputs {
  display: flex;

}

.firstname {
  flex: 0 0 36%;
  margin-right: 1%;
}

.middle {
  flex: 0 0 14%;
}

.lastname {
  flex: 0 0 48%;
  margin-left: 1%;
}
.logout-icon {
  color: #095d40;
  text-decoration: none;
  font-size: 18px;
}

.logout-icon i {
  margin-right: 5px;
}

.logout-icon:hover {
  color: #06492e;
}

/* Logout Modal */
.confirm-btn,
.cancel-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.confirm-btn {
  background-color: #095d40;
  color: white;
}

.cancel-btn {
  background-color: #A31C1C;
  color: white;
}

.confirm-btn:hover {
  background-color: #073e2b;
}

.cancel-btn:hover {
  background-color: #8B0000;
}
/* QR Scanner page */
/* left box */
.left-box-qr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intern-timein-details,
.time-in-details {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f9f9f9;
  border: 1px solid #ccc; */
}

.intern-image img {
  width: 100px;
  height: 100px;
  border: 3px solid #095d40;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.intern-details h3,
.time-in-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #095d40;
  text-align: center;
}

.intern-details span.total-ojt-hrs{
  font-size: 22px;
  color:#095d40;
}
.intern-details p {
  font-size: 16px;
  color: #333;
  text-align: left;
}

.time-in-info p {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.clock-image img {
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  height: auto;
}
/* right box */
.left-box-qr,.right-box-qr {
  padding: 20px;
  height: 550px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.left-box-qr {
  width: 70%;
  /* margin-right: 5px; */
}

.right-box-qr {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.lottie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.start-scan {
  background-color: #095d40;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

.start-scan i {
  margin-left: 5px;
}

#video {
  width: 300px;
  height: 300px;
  border-radius: 10px; 
  border: 2px solid #095d40;
  display: none;
  object-fit: cover;
}